<a href="https://colab.research.google.com/github/cown0211/AITech_5th/blob/main/Pre-Course/1_1_Python_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Stack

* 나중에 넣은 데이터를 먼저 반환
* Last In First Out (LIFO)
* 입력은 push, 출력은 pop

In [26]:
# 리스트를 사용하여 스택 구조 구현
# push는 append, pop은 pop

a = [1,2,3,4,5]
a.append(10)    # a 리스트 맨 뒤에 10 push
a.append(20)    # a 리스트 맨 뒤에 20 push

print(a)
print(a.pop())  # a 리스트 맨 뒤인 20을 pop

print(a)
print(a.pop())  # a 리스트 맨 뒤인 10을 pop

[1, 2, 3, 4, 5, 10, 20]
20
[1, 2, 3, 4, 5, 10]
10

In [27]:
# pop 함수는 리턴을 하면서 데이터를 변환함

c = a.pop()  # a 리스트를 pop 한 걸 c에 저장

print(a)
print(c)

[1, 2, 3, 4]
5

In [29]:
# stack 예제
# 입력된 글자를 역순으로 출력

word = input("input a word : ")  # 문자열 입력
word_list = list(word)           # 문자열을 리스트화 -> stack화

# 역순으로 출력
for _ in range(len(word_list)):
  print(word_list.pop())
  print(word_list)
  print("\n")

input a word : hello world
d
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l']


l
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r']


r
['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o']


o
['h', 'e', 'l', 'l', 'o', ' ', 'w']


w
['h', 'e', 'l', 'l', 'o', ' ']



['h', 'e', 'l', 'l', 'o']


o
['h', 'e', 'l', 'l']


l
['h', 'e', 'l']


l
['h', 'e']


e
['h']


h
[]

# Queue

* 먼저 넣은 데이터를 먼저 반환
* First In First Out (FIFO)
* Stack과 반대

In [30]:
# 리스트로 queue 구현
# put을 append(), get을 pop(0)

a = [1,2,3,4,5]  # a라는 queue 정의
a.append(10)     # 10을 put
a.append(20)     # 20을 put
print(a)

[1, 2, 3, 4, 5, 10, 20]

In [32]:
print(a.pop(0))  # a라는 queue의 맨 앞 값을 반환
print(a)         # 1 제외된 것을 확인

print(a.pop(0))
print(a)

2
[3, 4, 5, 10, 20]
3
[4, 5, 10, 20]

# Tuple

* 리스트와 비슷하나 값의 변경이 불가
* 대괄호[]가 아닌 소괄호()로 선언
* 리스트 연산은 가능
* 왜 쓸까?
 * 프로그램 동작 중 변경돼선 안되는 데이터 저장 ex) 학번, 우편번호 등등...
 * 함수의 반환값 등 사용자 실수에 의한 에러 방지

In [40]:
t = (1,2,3)  # 소괄호()로 선언
print(t)
print(type(t))

(1, 2, 3)
<class 'tuple'>

In [38]:
print(t + t)
print(t * 3)
print(len(t))
# 리스트 연산 기능은 모두 가능

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
3

In [39]:
t[0] = 1
# 튜플 내의 값 변경은 불가

TypeError: ignored

In [41]:
t = (1)
print(type(t)) # int

t = (1,)
print(type(t)) # 튜플

# 길이 1짜리 선언 시에는 ,를 넣어줘야 함

<class 'int'>
<class 'tuple'>

# Set

* 값을 순서 없이 저장, 중복 불허
* set() 객체 선언을 이용하여 생성 or 중괄호{}로 선언
* 다이어그램 연산에 활용

In [61]:
s = set([1,2,3,4,2,3,1]) # 중복되는 여러 수를 set()으로 정의
s
# 중복되는 숫자는 모두 제외됨
# set() 메서드 안에는 리스트[]로 숫자를 넣어줘야 함

{1, 2, 3, 4}

In [62]:
s = {1,2,52,5,3,1,2,3}  # 중괄호{}로 선언
s
# 중괄호{} 선언 시에는 리스트x

{1, 2, 3, 5, 52}

In [63]:
s.add(1)
s
# .add()로 값추가 가능
# 1은 이미 존재하므로 중복 반영x

s.add(78)
s
# 78은 존재x -> 반영

{1, 2, 3, 5, 52, 78}

In [64]:
s.remove(3)
s
# remove() 메서드로 값 삭제

{1, 2, 5, 52, 78}

In [65]:
s.update([4,2,5,3,1,7])
s
# update() 메서드로 여러개 값 입력

{1, 2, 3, 4, 5, 7, 52, 78}

In [66]:
s.discard(52)
s
# discard() 메서드로 해당값만 삭제

{1, 2, 3, 4, 5, 7, 78}

In [67]:
s.clear()
s
# clear() 메서드로 값 전체 삭제

set()

In [68]:
# 집합연산

s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

# 합집합
print(s1.union(s2))
print(s1 | s2)

# 교집합
print(s1.intersection(s2))
print(s1 & s2)

# 차집합
print(s1.difference(s2))
print(s1 - s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}
{3, 4, 5}
{1, 2}
{1, 2}

# Dict

* 데이터 저장 시 키 값을 같이 저장
* 키 값을 활용하여 데이터 값(value)을 관리
* key와 value를 매칭, key로 value를 검색
* {key1: value1, key2: value2, ...} 형태

In [78]:
country_code = {}     # Dict 생성법1
country_code = dict() # Dict 생성법2

country_code = {"America":1, "Korea":82, "China":86, "Japan":81}
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81}

In [96]:
print(country_code.items())
# items() 메서드로 key,value 쌍을 출력
# dict_items([]) 형태로 출력

dict_items([('America', 1), ('Korea', 82), ('China', 86), ('Japan', 81), ('German', 55)])

In [97]:
# for문과 활용하여 출력하기도 함
for dict_items in country_code.items():
  print(dict_items)
  print(type(dict_items)) # key,value 쌍이 튜플 형태라 수정불가

('America', 1)
<class 'tuple'>
('Korea', 82)
<class 'tuple'>
('China', 86)
<class 'tuple'>
('Japan', 81)
<class 'tuple'>
('German', 55)
<class 'tuple'>

In [86]:
country_code.keys()
# key 값만 출력

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [87]:
country_code.values()
# value 값만 출력

dict_values([1, 82, 86, 81])

In [89]:
country_code["German"] = 49
country_code
# 새로운 값 입력

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 49}

In [90]:
country_code["German"] = 55
country_code
# 기존 값 수정

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 81, 'German': 55}

In [93]:
for k,v in country_code.items():
  print("Key: ", k)
  print("Value: ", v)

# items() 메서드의 결과가 key,value 튜플 쌍으로 반환되기 때문에
# for문을 이용해 k,v에 할당

Key:  America
Value:  1
Key:  Korea
Value:  82
Key:  China
Value:  86
Key:  Japan
Value:  81
Key:  German
Value:  55

In [94]:
"Korea" in country_code.keys()
# 특정 값이 key 값으로 지정돼있는지 확인

True

In [95]:
82 in country_code.values()
# 특정 값이 value 값으로 지정돼있는지 확인

True

# Lab - Dict

* data source: https://bit.ly/3nR3qFa
 * 어떤 id가 어떤 command를 입력했는지

In [1]:
### Command Analyzer ###


import csv


def getKey(item): # 정렬을 위한 함수
  return item[1]  # 신경 쓸 필요 없음


# 파일 읽어오기
command_data = []
with open("command_data.csv", "r") as csvfile:
  spamreader = csv.reader(csvfile, delimiter=',', quotechar='"')
  for row in spamreader:
    command_data.append(row)


command_counter = {}              # dict 생성, 아이디를 key값, 입력줄수를 value값
for data in command_data:         # list 데이터를 dict로 변경
  if data[1] in command_counter.keys(): # 아이디가 이미 Key값으로 변경되었을 때
    command_counter[data[1]] += 1 # 기존 출현한 아이디
  else:
    command_counter[data[1]] = 1  # 처음 나온 아이디


# dict를 list로 변경
dictlist = []
for key, value in command_counter.items():
  temp = [key,value]
  dictlist.append(temp)


sorted_dict = sorted(dictlist, key=getKey, reverse=True) # list를 입력 줄 수로 정렬
print (sorted_dict[:100]) # List의 상위 10개 값만 출력

[['bookworm', 8500], ['elsa', 7500], ['fillmore', 7394], ['francis', 5978], ['anton_ego', 5819], ['queen_grimhilde', 5000], ['kristoff', 4934], ['brent_mustangburger', 4838], ['emperor_zurg', 4470], ['tarzan', 4193], ['stitch', 3742], ['marlon_the_alligator', 3203], ['faline', 3115], ['meg', 3098], ['fear', 2968], ['roo', 2782], ['claire_wheeler', 2777], ['don_carlton', 2773], ['guido', 2541], ['flynn_rider', 1996], ['mama_odie', 1883], ['darla_sherman', 1861], ['tiger_lily', 1846], ['chick_hicks', 1678], ['louis_the_alligator', 1374], ['the_dodo', 1364], ['ray_the_firefly', 998], ['tigger', 884], ['jane_porter', 852], ['al_mcwhiggin', 777], ['tinker_bell', 696], ['peter_pig', 500], ['rocket_raccoon', 473], ['charlotte_la_bouff', 472], ['peter_pan', 463], ['auto', 458], ['kocoum', 438], ['prince_naveen', 425], ['flik', 424], ['dory', 410], ['bo_peep', 407], ['captain_hook', 403], ['aladdin', 402], ['chatter_telephone', 372], ['django', 371], ['charlie', 363], ['bomb_voyage', 337], ['riley_anderson', 330], ['flo', 324], ['finn_mcmissile', 319], ['nani_pelekai', 319], ['pocahontas', 312], ['chum', 311], ['bing_bong', 311], ['disgust', 305], ['anna', 304], ['boo', 304], ['fa_zhou', 299], ['francesco_bernoulli', 292], ['bambi', 275], ['prince_hans', 275], ['aurora', 267], ['duke_of_weselton', 264], ['bumblebee', 260], ['joy', 258], ['dolly', 254], ['flora', 247], ['fred', 244], ['brock_pearson', 242], ['dim', 240], ['eve', 239], ['white_rabbit', 237], ['mungo', 237], ['crush', 231], ['pascal', 224], ['carrie_williams', 223], ['rapunzel', 219], ['merryweather', 219], ['wendy_darling', 218], ['roger_rabbit', 211], ['collette_tatou', 206], ['cheshire_cat', 200], ['eudora', 191], ['lilo_pelekai', 190], ['mulan', 188], ['coral', 186], ['maximus', 172], ['emile', 168], ['tiana', 167], ['auguste_gusteau', 153], ['darrell_cartrip', 146], ['sadness', 133], ['nakoma', 133], ['chunk', 126], ['alice', 123], ['the_magic_mirror', 116], ['snow_white', 115], ['splunk_teamlab', 115], ['thor', 98], ['fritz', 94]]

# Collections

* List, Tuple, Dict의 확장구조
* 기존의 구조보다 속도,효율 증가

In [ ]:
# 아래와 같은 모듈을 가짐

from collections import deque
from collections import Counter
from collections import OrderedDict
from collections import defaultdict
from collections import namedtuple

## deque

* stack과 queue를 지원
* rotate, reverse 등 Linked List의 특성 지원
* 기존 List보다 속도가 더 빠름

In [12]:
from collections import deque

deque_list = deque() # deque 리스트 선언
for i in range(5):
  deque_list.append(i)
print(deque_list)    # 0~4까지 입력

# appendleft() 메서드로 선입 데이터로 처리 가능
deque_list.appendleft(10)
print(deque_list)

# append() 메서드로 후입 처리
deque_list.append(24)
print(deque_list)

deque([0, 1, 2, 3, 4])
deque([10, 0, 1, 2, 3, 4])
deque([10, 0, 1, 2, 3, 4, 24])

In [13]:
# rotate(n) 메서드를 사용해 데이터를 우측으로 n칸씩 미룸

deque_list.rotate() # 24, 10, 0, ...
print(deque_list)

deque_list.rotate(1) # 4, 24, 10, ...
print(deque_list)

deque_list.rotate(-1) # 24, 10, 0, ...
print(deque_list)

deque([24, 10, 0, 1, 2, 3, 4])
deque([4, 24, 10, 0, 1, 2, 3])
deque([24, 10, 0, 1, 2, 3, 4])

In [15]:
# 리스트에서 쓰이는 extend()도 그대로 활용 가능

deque_list.extend([5,6,7])
print(deque_list)

deque_list.extendleft([5,6,7]) # 선입 처리하되 순서가 뒤집힘
print(deque_list) # 7,6,5,기존deque 순서

deque([24, 10, 0, 1, 2, 3, 4, 5, 6, 7, 5, 6, 7])
deque([7, 6, 5, 24, 10, 0, 1, 2, 3, 4, 5, 6, 7, 5, 6, 7])

## OrderedDict

* 예전 Dict는 순서를 보장 안해줬는데 그때 순서를 보장해주는 것
* 요샌 Dict가 순서 보장해줘서 잘 안씀

## defaultdict

* Dict type의 값에 기본 값을 지정, 신규값 생성시 사용

In [21]:
d = dict()
print(d["first"])

# Dict 선언 후 키값을 안넣어주면 KeyError 발생

KeyError: ignored

In [34]:
from collections import defaultdict

# d라는 defaultdict를 선언하고 기본값을 0으로 설정
d = defaultdict(lambda: 0)

print(d)           # d라는 defaultdict는 비어있음
print(d["first"])  # 어떤 key를 넣어도 기본값인 0으로 반환
print(d["second"])

defaultdict(<function <lambda> at 0x7f5a6bae3e50>, {})
0
0

In [32]:
# defaultdict 예제
# 하나의 지문에 각 단어가 몇개나 있는지 세고 싶을 때
# text-mining 접근법; Vector Space Model

text = """A press release is the quickest and easiest way to get free publicity. If 
well written, a press release can result in multiple published articles about your 
firm and its products. And that can mean new prospects contacting you asking you to 
sell to them. ….""".lower().split(); text

['a',
 'press',
 'release',
 'is',
 'the',
 'quickest',
 'and',
 'easiest',
 'way',
 'to',
 'get',
 'free',
 'publicity.',
 'if',
 'well',
 'written,',
 'a',
 'press',
 'release',
 'can',
 'result',
 'in',
 'multiple',
 'published',
 'articles',
 'about',
 'your',
 'firm',
 'and',
 'its',
 'products.',
 'and',
 'that',
 'can',
 'mean',
 'new',
 'prospects',
 'contacting',
 'you',
 'asking',
 'you',
 'to',
 'sell',
 'to',
 'them.',
 '….']

In [35]:
for word in text: # 각 텍스트를 
  d[word] += 1    # 각 텍스트를 key로 설정하고 문장에서의 개수를 value
d

defaultdict(<function __main__.<lambda>()>,
            {'first': 0,
             'second': 0,
             'a': 2,
             'press': 2,
             'release': 2,
             'is': 1,
             'the': 1,
             'quickest': 1,
             'and': 3,
             'easiest': 1,
             'way': 1,
             'to': 3,
             'get': 1,
             'free': 1,
             'publicity.': 1,
             'if': 1,
             'well': 1,
             'written,': 1,
             'can': 2,
             'result': 1,
             'in': 1,
             'multiple': 1,
             'published': 1,
             'articles': 1,
             'about': 1,
             'your': 1,
             'firm': 1,
             'its': 1,
             'products.': 1,
             'that': 1,
             'mean': 1,
             'new': 1,
             'prospects': 1,
             'contacting': 1,
             'you': 2,
             'asking': 1,
             'sell': 1,
             'them.': 1,
             '….': 1})

In [38]:
# 위의 결과를 개수 순으로 정렬

from collections import OrderedDict

word_count = defaultdict(lambda: 0) # Default 값을 0으로 설정

# 이 반복문이 위의 반복문과 같음
for word in text:
  word_count[word] += 1

# 이 반복문이 정렬
for i, v in OrderedDict(sorted(word_count.items()
                               , key=lambda t: t[1]
                               , reverse=True)).items():
  print(i, v)

and 3
to 3
a 2
press 2
release 2
can 2
you 2
is 1
the 1
quickest 1
easiest 1
way 1
get 1
free 1
publicity. 1
if 1
well 1
written, 1
result 1
in 1
multiple 1
published 1
articles 1
about 1
your 1
firm 1
its 1
products. 1
that 1
mean 1
new 1
prospects 1
contacting 1
asking 1
sell 1
them. 1
…. 1

## Counter

* sequence type의 data element들의 개수를 dict 형태로 반환

In [40]:
ball_strike_list = ["B", "S", "S", "S", "S", "B", "B"]

In [41]:
from collections import Counter

c = Counter(ball_strike_list)
print(c)

# 각 값의 개수를 dict 형태로 반환

Counter({'S': 4, 'B': 3})

In [44]:
c = Counter({"red":4, "blue":2})

print(list(c.elements())) # dict 형태를 리스트로 풀어서 써주기도 함
print(c)

['red', 'red', 'red', 'red', 'blue', 'blue']
Counter({'red': 4, 'blue': 2})

In [46]:
c = Counter(cats = 4, dogs = 8) # dict 형태로 안써도 선언 가능

print(list(c.elements()))
print(c)

['cats', 'cats', 'cats', 'cats', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs', 'dogs']
Counter({'dogs': 8, 'cats': 4})

In [50]:
# set의 연산을 지원

c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)

print(c.subtract(d)) # c-d 연산 수행, 반환값 없음
print(c)             # 반환값은 c에 저장됨

None
Counter({'a': 3, 'b': 0, 'c': -3, 'd': -6})

In [51]:
# set의 연산을 지원2

c = Counter(a=4, b=2, c=0, d=-2)
d = Counter(a=1, b=2, c=3, d=4)

print(c + d)
print(c & d)
print(c | d)

Counter({'a': 5, 'b': 4, 'c': 3, 'd': 2})
Counter({'b': 2, 'a': 1})
Counter({'a': 4, 'd': 4, 'c': 3, 'b': 2})

In [56]:
# defaultdict에서 다룬 word counter 기능 쉽게 가능

text = """A press release is the quickest and easiest way to get free publicity. If 
well written, a press release can result in multiple published articles about your 
firm and its products. And that can mean new prospects contacting you asking you to 
sell to them. ….""".lower().split()

print(Counter(text))
print(Counter(text)["a"])

Counter({'and': 3, 'to': 3, 'a': 2, 'press': 2, 'release': 2, 'can': 2, 'you': 2, 'is': 1, 'the': 1, 'quickest': 1, 'easiest': 1, 'way': 1, 'get': 1, 'free': 1, 'publicity.': 1, 'if': 1, 'well': 1, 'written,': 1, 'result': 1, 'in': 1, 'multiple': 1, 'published': 1, 'articles': 1, 'about': 1, 'your': 1, 'firm': 1, 'its': 1, 'products.': 1, 'that': 1, 'mean': 1, 'new': 1, 'prospects': 1, 'contacting': 1, 'asking': 1, 'sell': 1, 'them.': 1, '….': 1})
2

In [55]:
# sorted()로 정렬

sorted(Counter(text).items(), key = lambda t: t[1], reverse = True)

[('and', 3),
 ('to', 3),
 ('a', 2),
 ('press', 2),
 ('release', 2),
 ('can', 2),
 ('you', 2),
 ('is', 1),
 ('the', 1),
 ('quickest', 1),
 ('easiest', 1),
 ('way', 1),
 ('get', 1),
 ('free', 1),
 ('publicity.', 1),
 ('if', 1),
 ('well', 1),
 ('written,', 1),
 ('result', 1),
 ('in', 1),
 ('multiple', 1),
 ('published', 1),
 ('articles', 1),
 ('about', 1),
 ('your', 1),
 ('firm', 1),
 ('its', 1),
 ('products.', 1),
 ('that', 1),
 ('mean', 1),
 ('new', 1),
 ('prospects', 1),
 ('contacting', 1),
 ('asking', 1),
 ('sell', 1),
 ('them.', 1),
 ('….', 1)]

## namedtuple

* tuple 형태로 Data 구조체 저장하는 방법

In [58]:
from collections import namedtuple

Point = namedtuple("Point", ["x","y"])

In [59]:
Point

__main__.Point

In [61]:
p = Point(x=11, y=22)
p[0], p[1]

(11, 22)

In [62]:
p

Point(x=11, y=22)

In [63]:
print(p.x + p.y)

33